.scroll-area{
    width: inherit;
    height: 395px;
    /* border: medium solid greenyellow; */
    overflow: scroll;
    
}



.counter p{
    /* border: medium solid greenyellow; */
    justify-content: middle; 
    width: 400px;
    margin: auto;
    margin-top:15px;
    padding:0;
    text-align: center;
    font-size: 12px;
}

.explanation p{
    /* border: medium solid greenyellow; */
    width: 400px;
    margin: auto;
    margin-top:15px;
    padding:0;
    text-align: center;
}

.form-box{
    margin: auto;
    margin-top:15px;
    height: 175px;
    width: 400px;
    /* border: thin dotted var(--main-green); */
    background-color: var(--main-pink);
    border-radius: 15px;
    align-items: center;
}

.in-a-row{
    display: flex;
    justify-content: center;
    gap:8px;
}

.input {
    border: medium dotted var(--main-pink);
    border-radius: 10px;
    font-family: "Nunito", sans-serif;
    /* flex-grow:1; */
    /* gap: 10px; */
    width:95px;
    height: 1.5rem;
    color: var(--main-green);
    /* margin-left: 20px; */
    margin-top: 15px;
    padding-left: 10px;
}

.msg-box{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    border: medium dotted var(--main-pink);
    border-radius: 15px;
    font-family: "Nunito", sans-serif;
    margin:0;
    margin-top: 15px;
    margin-left: 15px;
    width: 340px;
    height:3rem;
    color: var(--main-green);
    resize: none;

}

.wrapper{
    display: flex;
    justify-content: center;
    margin:0;
    margin-top: 12px;
    padding:0;

}

.submit-msg{
    border-radius: 10px;
    width: 100px;
    height: 1.5rem;
    background-color: var(--light-pink);
    color:inherit;
    font:inherit;
    border: thin solid var(--main-green);
    justify-content: middle; 
    margin: auto;
    padding: 0;
    margin:0;
    cursor: pointer;
    /* font-family: "Meow Script", cursive;
    font-size: 20px;
    font-style: bold; */
}

.submit-msg:hover{
    background-color: var(--light-green);

}

.comments{
    margin: auto;
    margin-top:15px;
    border: thin solid black;
    height: 300px;
    width: 400px;
    background-color: white;
    border: thin dotted var(--main-pink);
}

input::placeholder,
textarea::placeholder {
  color: var(--main-green);
  font-family: "Nunito", sans-serif;
  /* font-size: 0.8rem; */
}