.music-player{
    border: thick solid var(--main-pink);
    border-radius: 25px;
    /* width: 40%;
    height: 80%; */
    height: 47vh;
    width: 40%;
    margin: 3%;
    overflow: scroll;
    background-color: var(--light-green);
    flex:1;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */

}

.song-card{
    border: thin solid var(--main-green);
    /* border: 1.5px solid #9cccef; */
    border-radius: 20px;
    /* border-radius: 25px; */
    height: 15%;
    margin-top: 7px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 1px;
    background-color: var(--light-pink);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 30px;
    padding-left: 20px;

}

.song-info, .play-pause{
    margin-left: 7%;
}

.play-pause{
    background-image: url(../images/green-play-arrow.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: transparent;
    width: 25px;
    height: 25px;
    color: pink;
    border: none;
    cursor: pointer;
    flex-shrink: 0;
}

.play-pause.playing {
    background-image: url("../images/green-pause-button.png");
}

.playlist-name, .playlist-desc{
    text-align: center;
    margin-top: 8px;
}

.playlist-cover{
    height: 35%;
    width: auto;
    border-radius: 5px;
    border: thin solid var(--main-pink);
    margin-left: 50px;
    margin-top: 8px;
}

.playlist-name{
    font-size: 20px;
}

.song-artist{
    font-size: 12px;
    color: #a79ba4;
}

.container {
    display: flex;
    gap: 20px;
    height: 90vh;
}

.side-boxes {
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 47vh;
    margin-top: 20px;
    margin-right: 20px;
    gap: 20px;
}

.recommend-box{
    flex:1;
    border: medium solid var(--main-green);
    border-radius: 50px;
    height: 50%;
    padding: 6%;
    background-color: var(--light-pink);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;



}

.now-playing{
    flex:1;
    border: medium solid var(--main-green);
    background-color: var(--light-pink);
    border-radius: 50px;
    height: 50%;
    padding: 6%;
}

p, ul, li {
    margin: 0;
}

textarea {
    border: thin solid var(--main-pink);
    border-radius: 4px;
    background-color: var(lavenderblush);
    /* color: var(--main-green); */
    color: #9cccef;
}

h2{
    margin: 0;
}

.send{
    background-image: url("../images/send.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position:center;
    width: 50px;
    height: 40px;
    color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    background-color: transparent;
}

.send:focus{
    background-image: url("../images/send-button.gif");
}
